* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #3A5254;
}


.container {
    display: flex;
    justify-content: center;
    height: 100%;
    place-items: center;
}

#slider {
    display: flex;
    place-items: center;
    position: relative;
}

.slider-image {
    aspect-ratio: 16 / 7;
    opacity: 100;
    width: 90vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 200ms ease-in-out;
    rotate: 0deg;
    scale: 1;
}

.arrow {
    color: red;
    cursor: pointer;
    opacity: 0.3;
    position: absolute;
    background-color: black;
    padding: 5px;
    border-radius: 15%;
    z-index: 1000;
}

.left {
    left: 1.25rem;
}

.right {
    right: 1.25rem;
}

@media (max-width: 1000px) {
    .slider-image {
        width: 100vw;
    }

    .arrow {
        font-size: 2.25rem;
    }
}